@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
 
  :root[class~="dark"] {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    
    --frame-background: rgba(0, 0, 0, .75);
    --frame-control-color: hsla(0, 0%, 100%, .2);
    --frame-title-placeholder-color: hsla(0, 0%, 100%, .3);
    --frame-title-color: hsla(0, 0%, 100%, .6);
    --frame-shadow-border: rgba(0, 0, 0, .8);
    --frame-highlight-border: hsla(0, 0%, 100%, .3);

    --editor-padding: 16px 16px 21px 16px;
    --syntax-text: #FFFFFF;
    --syntax-background: rgba 0, 0, 0, 0.75;
    --syntax-string: #DFD473;
    --syntax-comment: #807796;
    --syntax-variable: #73DFA5;
    --syntax-variable-2: #FFFFFF;
    --syntax-variable-3: #E08569;
    --syntax-number: #7A7FFD;
    --syntax-atom: #7A7FFD;
    --syntax-keyword: #FF659C;
    --syntax-property: #1AC8FF;
    --syntax-definition: #73DFA5;
    --syntax-meta: #F1ECFE;
    --syntax-operator: #FF659C;
    --syntax-attribute: #73DFA5;
    --syntax-tag: #FF659C;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body, #root {
  height: 100% !important;
}